body
{
  background-color: steelblue
}
h1
{
  font-family: 'Times New Roman', Times, serif;
  color: white;
} 
h2 
{
  font-family: 'Times New Roman', Times, serif;
  color: white;
} 
table
{
  border: 23px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
